<div class="px-5 py-5 flex justify-between items-center bg-custom-secondary-900 border-b-2">

    {% include "chat/header/title.html.twig" %}

    {% include "chat/header/search.html.twig" %}

    {% include "chat/header/user.html.twig" %}

</div>
