{% extends 'base.html.twig' %}

{% block title %}Hello MyAccountController!{% endblock %}

{% block body %}
    <section class="bg-custom-background">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="p-4 shadow bg-custom-secondary-800 sm:p-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <input class="text-custom-text py-2.5 px-5 text-sm border-none font-medium rounded-lg border bg-custom-secondary-600 hover:bg-custom-secondary-400" type="submit">
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
