<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2 rounded-md">

    {% include "components/chat/header/title.html.twig" %}

    {% include "components/chat/header/search.html.twig" %}

    {% include "components/chat/header/user.html.twig" %}

</div>
