<div class="flex justify-start mb-4">
    <div>
        <div
            class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white mb-2"
        >
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>
