<nav class="bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    {% include "components/navbar.html.twig" %}
</nav>
