<nav class="bg-custom-background text-custom-text w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    {% include "components/navbar.html.twig" %}
</nav>

<script src="{{ asset('lib/navbar.js') }}"></script>
