<div class="text-custom-text">
    <div class="h-screen bg-custom-background flex items-center justify-center">
        <div class="mx-2 text-center">
            <h1 class="font-extrabold text-4xl xs:text-5xl md:text-6xl">
                Chat based on
            </h1>
            <h2 class="font-extrabold text-3xl xs:text-4xl md:text-5xl leading-tight py-4">
                Symfony / OpenSwoole / Websockets
            </h2>
            <div>
                <a href="#project-link">
                    <button class="bg-primary-dark dark:bg-primary-light hover:bg-custom-secondary focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">
                        Check project
                    </button>
                </a>
                <a href="#about">
                    <button class="bg-custom-accent  hover:bg-custom-secondary focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none">
                        Learn Morecke
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
